{% extends 'base.html' %}
{% load crispy_forms_tags widget_tweaks%}
{% load crispy_forms_filters %}
{% load static %}
{% load i18n %}



{% block header %}
{% include 'includes/homeTopBar.html' %}
{% endblock header %}

{% block sidebar %}
<!-- {% include 'includes/homeSideBar.html' %} -->
{% endblock sidebar %}
{% block extra_css %}
<!-- One of the following themes -->
<link rel="stylesheet" href="{% static 'libs/@simonwep/pickr/dist/themes/classic.min.css'%}" /> <!-- 'classic' theme -->
<link rel="stylesheet" href="{% static 'libs/@simonwep/pickr/dist/themes/monolith.min.css'%}" />
<!-- 'monolith' theme -->
<link rel="stylesheet" href="{% static 'libs/@simonwep/pickr/dist/themes/nano.min.css'%}" /> <!-- 'nano' theme -->
<link rel="stylesheet" href="{% static 'css/ml_buttons.css'%}" /> <!-- 'nano' theme -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock extra_css %}
{% block content %}

<style>
    .custom-card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .custom-card-body> :last-child {
        margin-top: auto;
    }

    .info-bars {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .checked {
        color: #f5c542;
    }
</style>

<!-- <div
  class="main-content"
  style="background-image: url('https://images.pond5.com/nutrition-linear-icons-set-vitamins-illustration-239100396_iconl_nowm.jpeg'); min-height: 910px;"
> -->
<div class="main-content">

    <!-- <div class="main-content bg-light"> -->

    <div class="page-content m-0" id="page-content-adaptive" style="margin-top: 1% !important;">


        <div class="container-fluid" style="padding-left: 0px; padding-right: 0px; max-width: 1440px; margin-top: 15px;" id="container-fluid-adaptive">
            <style>
                /* Default style for both mobile and desktop */
                .responsive-img {
                    object-fit: contain;
                }

                /* Media query for mobile */
                @media (max-width: 767px) {
                    .responsive-img {
                        max-height: 180px;
                        min-height: 140px;
                    }
                }

                /* Media query for desktop */
                @media (min-width: 768px) {
                    .responsive-img {
                        max-height: 300px;
                        min-height: 172px;
                    }
                }
            </style>
            <style>
                .blur {
                    box-shadow: inset 0px 0px 2px #fefefed1 !important;
                    ;
                    -webkit-backdrop-filter: saturate(200%) blur(90px) !important;
                    ;
                    backdrop-filter: saturate(200%) blur(90px) !important;
                    ;
                    background-color: rgba(255, 255, 255, 0.8) !important;
                }

                .z-index-2 {
                    z-index: 2 !important;
                }
            </style>
            <div class="row">
                <!-- <div class="col-xl-3 col-lg-4" id="pc-filter" style="display: none;">
                    <div class="card rounded-4 p-1 border border-2">
                        <div class="card-header">
                            <div class="d-flex mb-3">
                                <div class="flex-grow-1">
                                    <h5 class="fs-16">Filters</h5>
                                </div>
                                <div class="flex-shrink-0">
                                    <a href="/" class="text-decoration-underline" id="clearall">Очистити фільтри</a>
                                </div>
                            </div>
                        </div>

                        <div class="accordion accordion-flush filter-accordion" id="finalFiltersContainer">
                        </div>
                    </div>
                </div> -->
                <div class="col-xl-12 p-0">
                    <!-- With Indicators -->
                    <div class="m-0 mb-2 rounded-4" id="caruselDiv">

                    </div>
                    <div class="row row-cols-1 row-cols-md-6 m-0" id="aimButtons" style="margin-top: 5px;">
                        <!-- JS динамічно відобразить тут кнопки -->
                    </div>
                    <div id="topGoods">
                        <div class="d-flex justify-content-center align-items-center mt-3 mb-0">
                            <i class="text-danger ri-fire-fill fs-20" style="padding-bottom: 10px;"></i>
                            <div class="card bg-danger m-2 mt-1 shadow-lg" style="height: 5px; width: 100%;"></div>
                            <h3 style="white-space: nowrap;">Топ товари</h3>
                            <div class="card bg-danger m-2 mt-1 shadow-lg" style="height: 5px; width: 100%;"></div>
                            <i class="text-danger ri-fire-fill fs-20" style="padding-bottom: 10px;"></i>
                        </div>

                        <!-- Top goods -->
                        <div class="row row-cols-1 row-cols-md-6 m-0" id="TopGoodCardsListContainer">
                            <!-- Товари завантажуються динамічно за допомогою AJAX -->
                        </div>
                        <div class="card bg-danger m-2 mt-1" style="height: 5px; width: 99%;"></div>
                </div>
                <script>
                    // Function to adjust font size based on window width
                    function adjustFontSize() {
                      // Get the current window width
                      const windowWidth = window.innerWidth;
                  
                      // Select the elements to adjust
                      const siteData = document.getElementById('siteData');
                      const elementsToAdjust = siteData.querySelectorAll('h5, p');
                  
                      // Define the font size classes
                      const smallFontSizeClass = 'small-font';
                  
                      // Check the window width and apply the appropriate font size
                      if (windowWidth <= 1024) {
                        elementsToAdjust.forEach(element => {
                          element.classList.add('fs-12');
                        });
                      } else {
                        elementsToAdjust.forEach(element => {
                          element.classList.remove('fs-12');
                        });
                      }
                    }
                  
                    window.addEventListener('resize', adjustFontSize);

                    // Add the load event listener
                    window.addEventListener('load', adjustFontSize);
                  
                    // Initial font size adjustment
                    adjustFontSize();
                  </script>
                    <div class="row text-center" id="siteData">
                        <div class="col-xl-3 col-sm-6">
                            <div class="p-3 border border-dashed border-start-0 info-bars">
                                <div class="mx-2">
                                    <div class="avatar-sm flex-shrink-0">
                                        <span class="avatar-title rounded-circle fs-2" style="background-color: rgba(49, 207, 138, 0.3) !important;">
                                            <i class="ri-user-5-fill text-success"></i>
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 210px !important;">
                                    <h5 class="mb-1 text-success"><span class="counter-value" data-target="7585">1+ тис.</span></h5>
                                    <p class="text-muted mb-0">Задоволених замовників</p>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xl-3 col-sm-6">
                            <div class="p-3 border border-dashed border-start-0 info-bars">
                                <div class="mx-2">
                                    <div class="avatar-sm flex-shrink-0">
                                        <span class="avatar-title rounded-circle fs-2" style="background-color: rgba(49, 207, 138, 0.3) !important;">
                                            <i class="ri-hand-heart-fill text-success"></i>
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 210px !important;">
                                    <h5 class="mb-1 text-success"><span class="counter-value">Безкоштовна доставка</span></h5>
                                    <p class="text-muted mb-0">від 2 500 грн.</p>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xl-3 col-sm-6">
                            <div class="p-3 border border-dashed border-start-0 info-bars">
                                <div class="mx-2">
                                    <div class="avatar-sm flex-shrink-0">
                                        <span class="avatar-title rounded-circle fs-2" style="background-color: rgba(49, 207, 138, 0.3) !important;">
                                            <i class="ri-riding-fill text-success"></i>
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 210px !important;">
                                    <h5 class="mb-1 text-success"><span class="counter-value">До 4 днів</span></h5>
                                    <p class="text-muted mb-0">Швидка доставка</p>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                        <div class="col-xl-3 col-sm-6">
                            <div class="p-3 border border-dashed border-start-0 info-bars">
                                <div class="mx-2">
                                    <div class="avatar-sm flex-shrink-0">
                                        <span class="avatar-title rounded-circle fs-2" style="background-color: rgba(49, 207, 138, 0.3) !important;">
                                            <i class="ri-bubble-chart-fill text-success"></i>
                                        </span>
                                    </div>
                                </div>
                                <div style="width: 210px !important;">
                                    <h5 class="mb-1 text-success"><span class="counter-value">500+ продуктів</span></h5>
                                    <p class="text-muted mb-0">Широкий асортимент</p>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </div>
                    <div id="simpleGoods">
                    <div class="d-flex justify-content-center align-items-center mb-3">
                        <i class="text-info ri-flashlight-fill fs-20"></i>
                        <div class="card bg-info m-2 mt-1" style="height: 5px; width: 100%;"></div>
                        <h3 id="searchDataTitle" style="white-space: nowrap;">Інші товари</h3>
                        <div class="card bg-info m-2 mt-1" style="height: 5px; width: 100%;"></div>
                        <i class="text-info ri-flashlight-fill fs-20"></i>
                    </div>
                    <div class="row row-cols-1 row-cols-md-6 m-0" id="goodCardsListContainer">
                        <!-- Товари завантажуються динамічно за допомогою AJAX -->
                    </div>
                    <div class="card bg-info m-2 mt-1" style="height: 5px; width: 100%;"></div>
                </div>
                </div>


            </div>


            <style>
                .ml_display {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                #next_button {
                    max-width: 200px;
                }
            </style>


            <div class="col-12 m-2 text-center d-flex justify-content-center">
                <a id="next_button" style="cursor:pointer; min-width:90px;"
                    class="btn btn-soft-info waves-effect waves-light text-center fs-20 ml_display">
                </a>
            </div>


        </div>
        <div style="position: sticky; bottom: 20px; width: 100%; display: flex; justify-content: center; z-index: 10; margin: 0px;"
            id="mobileFilters">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <button class="btn btn-light rounded-end rounded-4 border border-2 border-info  fs-17" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"
                    style="opacity: 0.9; width: 160px; margin-right: 5px;">
                    <i class="ri-arrow-up-line"></i> Сортування
                </button>
                <button class="btn btn-light rounded-start rounded-4 border border-2 border-info fs-17" type="button"
                    data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom2" aria-controls="offcanvasBottom2"
                    style="opacity: 0.9; width: 160px;">
                    <i class="ri-filter-line"></i> Фільтри
                </button>
            </div>
            <!-- Placement Offcanvas -->
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasBottom"
                aria-labelledby="offcanvasBottomLabel" style="top: 65%; height: 35% !important; z-index: 2000">
                <div class="offcanvas-header">
                    <h5 id="offcanvasBottomLabel">Товари посортовані</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <div class="form-check form-switch form-switch-md form-switch-info pb-2 m-2 border-bottom border-2">
                        <input class="form-check-input" type="checkbox" role="switch" id="name" checked>
                        <label class="form-check-label fs-17" for="SwitchCheck10">Від А до Я</label>
                    </div>
                    <div
                        class="form-check form-switch form-switch-md form-switch-secondary pb-2 m-2 border-bottom border-2">
                        <input class="form-check-input" type="checkbox" role="switch" id="-name">
                        <label class="form-check-label fs-17" for="SwitchCheck10">Від Я до А</label>
                    </div>
                    <div
                        class="form-check form-switch form-switch-md form-switch-warning pb-2 m-2 border-bottom border-2">
                        <input class="form-check-input" type="checkbox" role="switch" id="sell_price">
                        <label class="form-check-label fs-17" for="SwitchCheck10">Від найдешевших</label>
                    </div>
                    <div
                        class="form-check form-switch form-switch-md form-switch-success pb-2 m-2 border-bottom border-2">
                        <input class="form-check-input" type="checkbox" role="switch" id="-sell_price">
                        <label class="form-check-label fs-17" for="SwitchCheck10">Від найдорожчих</label>
                    </div>
                </div>
            </div>
            <div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasBottom2"
                aria-labelledby="offcanvasBottomLabel2"  style="top: 27%; height: 73% !important; z-index: 2000">
                <div class="offcanvas-header pb-0">
                    <h5 id="offcanvasBottomLabel">Фільтрування товарів</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <div class="offcanvas-body px-0" id="main-filter">
                    <div class="row">
                        <div class="col-12 mx-3 text-start">
                            <a class="btn btn-soft-info" href="/">
                                <i class="ri-find-replace-line fs-18"></i> <span data-key="t-authentication">Очистити
                                    фільтри</span>
                            </a>
                        </div>
                    </div>
                    <div class="accordion accordion-flush filter-accordion" id="finalFiltersContainerMobile">
                        
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>

</div>
<script>
    function scrollToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }

    window.onscroll = function () {
        var btn = document.getElementById("back-to-top");

        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            btn.style.display = "block";
        } else {
            btn.style.display = "none";
        }
    };

    // Initially hide the button on page load
    document.addEventListener("DOMContentLoaded", function () {
        var btn = document.getElementById("back-to-top");
        btn.style.display = "none";
    });
</script>
<script>
    function updateDisplay() {
        const pcFilter = document.getElementById('pc-filter');
        const mobileFilter = document.getElementById('mobileFilters');
        if (window.innerWidth < 1200) {
            pcFilter.style.display = 'none';
            mobileFilter.style.display = 'flex';
        } else {
            pcFilter.style.display = 'none';
            mobileFilter.style.display = 'flex';
        }
    }

    // Initial check
    updateDisplay();

    // Update display on window resize
    window.addEventListener('resize', updateDisplay);
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var slider = document.getElementById('range-slider');
        var inputFrom = document.getElementById('prices-from');
        var inputTo = document.getElementById('prices-to');

        noUiSlider.create(slider, {
            start: [20, 80], // Initial values for the two handles
            connect: true,   // Show a colored bar between the handles
            range: {
                'min': 0,
                'max': 100
            },
            tooltips: [true, true], // Show tooltips for both handles
            format: {
                to: function (value) {
                    return Math.round(value);
                },
                from: function (value) {
                    return Number(value);
                }
            }
        });

        slider.noUiSlider.on('update', function (values, handle) {
            var value = values[handle];
            if (handle) {
                inputTo.value = value;
            } else {
                inputFrom.value = value;
            }
        });

        inputFrom.addEventListener('change', function () {
            slider.noUiSlider.set([this.value, null]);
        });

        inputTo.addEventListener('change', function () {
            slider.noUiSlider.set([null, this.value]);
        });
    });
</script>

<button onclick="scrollToTop()" class="btn btn-danger btn-icon rounded-pill" id="back-to-top"
    style="position: fixed; top: 110px; right: 2px; opacity: 0.6;">
    <i class="ri-arrow-up-line"></i>
</button>


{% endblock content %}


{% block extra_js %}
<!-- prismjs plugin -->
<script src="{% static 'libs/prismjs/prism.js'%}"></script>

<!-- rater-js plugin -->
<script src="{% static 'libs/rater-js/index.js'%}"></script>
<!-- rating init -->
<script src="{% static 'js/pages/rating.init.js'%}"></script>
<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="https://unpkg.com/simplebar/dist/simplebar.min.js"></script>
<script src="{% static 'js/shop/pageAdaptiveConfig.js' %}"></script>
<script src="{% static 'js/shop/temp_db.js' %}"></script>
<script src="{% static 'js/shop/goodsTopBar.js' %}"></script>
<script src="{% static 'js/shop/goodsCardsList.js' %}"></script>
<script src="{% static 'js/shop/aimButtons.js' %}"></script>
<script src="{% static 'js/shop/goodsCart.js' %}"></script>
<script src="{% static 'js/shop/goodsTypesFilter.js' %}"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.5.0/nouislider.min.js"></script>



{% endblock extra_js %}