{% extends 'adminBase.html' %}
{% load crispy_forms_tags widget_tweaks%}
{% load crispy_forms_filters %}
{% load static %}
{% load humanize %}
{% load i18n %}

{% block header %}
  {% include "includes/adminHeader.html" %}
{% endblock header %}

{% block sidebar %}
{% include 'includes/adminSideBar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="main-content">
  <div class="page-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="mb-sm-0">Замовлення</h4>

            <div class="page-title-right">
              <ol class="breadcrumb m-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Адмін-панель</a></li>
                <li class="breadcrumb-item active">Замовлення</li>
              </ol>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <style>
          .ml_display {
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        </style>
        <!-- end col -->
        <div class="col-xl-12 col-lg-12">
          <div class="card border">
            <!-- end card header -->
            <div class="card-body" style="height: auto;">
              <div class="tab-content text-muted">
                <div class="tab-pane active" id="productnav-all" role="tabpanel">
                  <div id="table-product-list-all" class="table-card gridjs-border-none">
                    <div role="complementary" class="gridjs gridjs-container" style="width: 100%;">
                      <div class="gridjs-wrapper" style="height: auto;">

                        <table role="grid" class="gridjs-table" style="height: auto;">
                          <thead class="gridjs-thead">
                            <tr class="gridjs-tr">
                              <th data-column-id="product" class="gridjs-th gridjs-th-sort text-muted" tabindex="0"
                                style="min-width: 70px;">
                                <div class="row align-items-center justify-content-center">
                                  <div class="col-12 m-0 text-center">№</div>
                                </div>
                              </th>
                              <th data-column-id="stock" class="gridjs-th gridjs-th-sort text-muted" tabindex="0"
                                style="min-width: 105px;">
                                <div class="row align-items-center justify-content-center">
                                  <div class="col-12 m-0 text-center">Сума</div>
                                </div>
                              </th>
                              <th data-column-id="stock" class="gridjs-th gridjs-th-sort text-muted" tabindex="0"
                                style="">
                                <div class="row align-items-center justify-content-center">
                                  <div class="col-12 m-0 text-center">Тип доставки</div>
                                </div>
                              </th>
                              <th data-column-id="stock" class="gridjs-th gridjs-th-sort text-muted" tabindex="0"
                                style="">
                                <div class="row align-items-center justify-content-center">
                                  <div class="col-12 m-0 text-center">Контакти</div>
                                </div>
                              </th>
                              <th data-column-id="stock" class="gridjs-th gridjs-th-sort text-muted" tabindex="0"
                                style="">
                                <div class="row align-items-center justify-content-center">
                                  <div class="col-12 m-0 text-center">Товари</div>
                                </div>
                              </th>
                              <th data-column-id="stock" class="gridjs-th gridjs-th-sort text-muted" tabindex="0"
                                style="">
                                <div class="row align-items-center justify-content-center">
                                  <div class="col-12 m-0 text-center">Тип оплати</div>
                                </div>
                              </th>
                              
                              <th data-column-id="stock" class="gridjs-th gridjs-th-sort text-muted" tabindex="0"
                                style="">
                                <div class="row align-items-center justify-content-center">
                                  <div class="col-12 m-0 text-center">Дії</div>
                              </th>
                            </tr>
                          </thead>
                          <tbody class="gridjs-tbody">
                            {% for order in orders_list %}
                            <tr class="gridjs-tr" {% if order.is_delivered %} style="background-color: rgba(194, 255, 219, 0.28);" {% endif %}>
                              <td data-column-id="stock" class="gridjs-td text-center">
                                № {{ order.pk }} 
                                  
                              </td>
                              <td data-column-id="stock" class="gridjs-td text-center">{{ order.total_clear_price|floatformat:"2"|intcomma }} грн.</td>
                              <td data-column-id="price" class="gridjs-td text-center"><span>
                                <button
                                  type="button"
                                  {% if order.delivery_type == "NP" %}
                                    class="btn btn-danger dropdown-toggle"
                                  {% elif order.delivery_type == "UP" %}
                                    class="btn btn-warning dropdown-toggle"
                                  {% elif order.delivery_type == "SL" %}
                                    class="btn btn-success dropdown-toggle"
                                  {% endif %}
                                  
                                  data-bs-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false"
                                  style="width: 140px;"
                                >
                                  {% if order.delivery_type == "NP" %}
                                    Нова Пошта
                                  {% elif order.delivery_type == "UP" %}
                                    Укр Пошта
                                  {% elif order.delivery_type == "SL" %}
                                    Sport Life
                                  {% endif %}
                                  <i class="ri-indent-decrease"></i>
                            </button>
                            <div class="dropdown-menu text-center m-2" style="white-space:nowrap;">
                              <p class="text-muted text-center mb-0">
                                Деталі доставки
                              </p>
                              <div class="dropdown-divider"></div>
                              <div class="table-container">
                                <div class="inner-rb-row">
                                  <div class="table-bg m-2">
                                    <table class="table table-bordered vertical-table">
                                      <tbody>
                                        {% if order.delivery_type == "NP" %}
                                          <tr>
                                            <th scope="row">Місто</th>
                                            <td>{{ order.np_city }}</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Відділення</th>
                                            <td>{{ order.nova_post_address }}</td>
                                          </tr>
                                        {% elif order.delivery_type == "UP" %}
                                          <tr>
                                            <th scope="row">Адреса доставки</th>
                                            <td>{{ order.ukr_post_adress }}</td>
                                          </tr>
                                        {% elif order.delivery_type == "SL" %}
                                          <tr>
                                            <th scope="row">Адреса доставки</th>
                                            <td class="text-success">Смовивоз SportLife</td>
                                          </tr>
                                        {% endif %}
                                        <tr>
                                          <th scope="row">Сума замовлення</th>
                                          {% if order.invoice_status == "PAYED" %}
                                            <td class="text-success">Оплачено онлайн</td>
                                          {% else %}
                                            <td>{{ order.total_clear_price|floatformat:"2"|intcomma }} грн.</td>
                                          {% endif %}
                                        </tr>                                       
                                      </tbody>
                                      
                                    </table>
                                  </div>
                                  <hr>
                                          </div>
                                  </div>
                                  </div>
                              </span></td>
                              <td data-column-id="price" class="gridjs-td text-center"><span>
                                <button
                                  type="button"
                                  class="btn btn-light dropdown-toggle border"
                                  data-bs-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false"
                                >
                                  Контакти
                                  <i class="ri-indent-decrease"></i>
                            </button>
                            <div class="dropdown-menu text-center m-2" style="white-space:nowrap;">
                              <p class="text-muted text-center mb-0">
                                Контакти замовника
                              </p>
                              <div class="dropdown-divider"></div>
                              <div class="table-container">
                                <div class="inner-rb-row">
                                  <div class="table-bg m-2">
                                    <table class="table table-bordered vertical-table">
                                      <tbody>
                                          <tr>
                                            <th scope="row">Ініціали</th>
                                            <td>{{ order.user_fio }}</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Emain</th>
                                            <td>{{ order.user_email }}</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">Моб. телефон</th>
                                            <td>{{ order.user_phone }}</td>
                                          </tr>
                                        
                                      </tbody>
                                      
                                    </table>
                                  </div>
                                  <hr>
                                          </div>
                                  </div>
                                  </div>
                              </span></td>
                              <td data-column-id="price" class="gridjs-td text-center"><span>
                                <button
                                  type="button"
                                  class="btn btn-light dropdown-toggle border"
                                  data-bs-toggle="dropdown"
                                  aria-haspopup="true"
                                  aria-expanded="false"
                                >
                                  Товари
                                  <i class="ri-indent-decrease"></i>
                            </button>
                            <div class="dropdown-menu text-center m-2" style="white-space:nowrap;">
                              <p class="text-muted text-center mb-0">
                                Список товарів
                              </p>
                              <div class="dropdown-divider"></div>
                              <div class="table-container">
                                <div class="inner-rb-row">
                                  <div class="table-bg m-2">
                                    {% for item in order.items.all %}
                                    <table class="table table-bordered vertical-table">
                                      <tbody>
                                          <tr>
                                            <th scope="row">Назва</th>
                                            <td>{{ item.good_variant}}</td>
                                          </tr>
                                          <tr>
                                            <th scope="row">К-ть</th>
                                            <td>{{ item.amount }}</td>
                                          </tr>
                                      </tbody>
                                    {% endfor %}
                                    </table>
                                  </div>
                                  <hr>
                                          </div>
                                  </div>
                                  </div>
                              </span></td>
                              <td data-column-id="price" class="gridjs-td text-center"><span>
                                
                                {% if order.payment_type == "OP" %}
                                   Оплата онлайн
                                {% else %}
                                  Оплата при отриманні
                                {% endif %}
                              
                                <td data-column-id="action" class="gridjs-td text-center">
                                  {% if order.is_delivered %}
                                    <i class="text-info fs-24 ri-hand-heart-fill"></i>
                                  {% else %}
                                  <span>
                                    <div class="dropdown"><button class="btn btn-soft-secondary btn-sm dropdown"
                                        type="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                                          class="ri-more-fill"></i></button>
                                      <ul class="dropdown-menu dropdown-menu-end">
                                        <li><a class="dropdown-item edit-list" data-edit-id="1"
                                            href="{% url 'app_orders:approve-order' pk=order.pk %}"><i
                                              class="ri-pencil-fill align-bottom me-2 text-muted"></i> Відправлено/видано</a>
                                        </li>
                                      </ul>
                                    </div>
                                  </span>
                                  {% endif %}
                                </td>  
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                        {% if not orders_list %}
                        <div class="noresult" style="display: block;">
                          <div class="text-center">
                            <lord-icon src="https://cdn.lordicon.com/msoeawqm.json" trigger="loop"
                              colors="primary:#121331,secondary:#08a88a" style="width:75px;height:75px"></lord-icon>
                            <h5 class="mt-2">Вибачте! Пошук на дав результатів</h5>
                            <p class="text-muted mb-0">Здається товару за результатаму вашого пошуку не існує в системі.
                            </p>
                          </div>
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <!-- end tab pane -->
                <!-- end tab pane -->
              </div>
              <!-- end tab content -->

            </div>
            <!-- end card body -->
          </div>
          <div class="row">
            <div class="col-4">
              <div class="text-start" style="margin-left: 50px;">

              </div>
            </div>
            <div class="col-8" style="position: relative;">
              <!-- Your content goes here -->

              <!-- Pagination includes positioned to the right with margin-left: 5px -->
              <div style="position: absolute; top: 0; right: 0; margin-right: 50px;">
                {% include "includes/pagination.html" %}
              </div>
            </div>
          </div>
          <!-- end card -->
        </div>
      </div>
				

    </div>
  </div>
</div>
{% endblock content %}
{% block extra_js %}

<script src="{% static 'js/jquery-3.6.4.min.js' %}"></script>
<script src="https://unpkg.com/simplebar/dist/simplebar.min.js"></script>
{% endblock extra_js %}
