<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
  <div class="offcanvas-header border-bottom">
    <a href="http://127.0.0.1:8000">
      <img src="/static/images/logo-srn.png" alt="" height="64">
    </a>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="offcanvas-body px-0" id="main-filter">
    <div class="accordion accordion-flush filter-accordion" id="finalFiltersContainerMobile2">
        
    </div>
  </div>
  </div>
  <div class="offcanvas-footer border-top p-3 text-center">
    <div class="row">
        <div class="col-6">
            <a href="/" type="button" class="btn btn-light w-100" id="reset-layout">Очистити фільтри</a>
        </div>
        <div class="col-6">
            <a href="https://my-fit.com.ua/plan-fitness/" target="_blank" class="btn btn-info w-100">Онлайн тренування</a>
        </div>
    </div>
</div>
</div>